fastapi
uvicorn[standard]
gunicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
email-validator
python-multipart
openai
python-dotenv
alembic
requests
python-jose[cryptography]
passlib[argon2]
argon2-cffi
google-generativeai
pillow
