fastapi
uvicorn[standard]
gunicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
email-validator
python-multipart
openai
requests
python-dotenv
python-jose[cryptography]
passlib[argon2]
argon2-cffi
alembic
